/* /src/css/custom.css */
:root {
  /* 修改亮色模式下的主色调，侧边栏文字颜色会随之改变 */
  --ifm-color-primary: #2e8555;
  /* 如果你只想单独修改侧边栏文字颜色，可以添加如下变量 */
  --ifm-menu-color: #0366d6; /* 亮色模式侧边栏文字颜色改为蓝色 */
}

/* 暗色模式下的单独控制 */
[data-theme='dark'] {
  --ifm-menu-color: #ff9400; /* 暗黑模式侧边栏文字改为橙色 */
}
